
- var PageTitle = 'Pug Title, yeah!'

- var MetaDesc = false

- var favicon = false

- var GoogleFonts = ''
//- нужны массивы шрифтов

- var animateCss = false

- var wowJs = false

- var jQuery = false

- var jQueryUI = true

- var animateNumber = false

- var bxSlider = false

- var mainJs = true

- var mainJsSrc = '../js/main.js'

- var googleAnalytics = true

- var bodyClasses = []

- var mainCssSrc = '../css/main.css'

- var bxSliderCssSrc = '../jquery.bxslider/jquery.bxslider.css'

- var bxSliderJsSrc = '../jquery.bxslider/jquery.bxslider.min.js'

- var logoImgSrc = "img/logo.png"
- var logoImgSrcTablet = "img/logo.png"
- var logoImgSrcMobile = "img/logo-mobile.png"
