
- var PageTitle = 'Pug Title, yeah!'

- var MetaDesc = false

- var favicon = false

- var GoogleFonts = ''
//- нужны массивы шрифтов

- var animateCss = false

- var wowJs = false

- var jQuery = false

- var jQueryUI = true

- var jQueryEasing = false

- var animateNumber = false

- var bxSlider = false

- var mainJs = true

- var mainJsSrc = '../js/main.js'

- var googleAnalytics = true

- var bodyClasses = []

- var mainCssSrc = '../css/main.css'

- var bxSliderCssSrc = '../jquery.bxslider/jquery.bxslider.css'

- var bxSliderJsSrc = '../jquery.bxslider/jquery.bxslider.min.js'

- var logoImgSrc = "img/logo.png"
- var logoImgSrcTablet = "img/logo.png"
- var logoImgSrcMobile = "img/logo-mobile.png"

 - var host = 'http://localhost:8888/'
 //- - var host = 'http://static.ucttest.in.ua/eltex/'

- var linkIndex = host + ''
- var linkAbout = host + '_pages/01_about.html';
- var linkContactInfo = host + '_pages/02_contact-info.html';
- var linkDocumentation = host + '_pages/03_documentation.html';
- var linkDocumentationGrid = host + '_pages/04_documentation-grid.html';
- var linkFaq = host + '_pages/05_faq.html';
- var linkSolutions = host + '_pages/07_solutions.html';
- var linkProjects = host + '_pages/09_projects.html';

- var linkProduct = host + '_pages/06_product1.html';
- var linkProductGrid = host + '_pages/08_product-grid.html';
