extends conf/docwrapper


append config
  - var PageTitle = 'О компании Eltex'
  //- - var MetaDesc = 'Now we override default configed MetaDesc'
  - var jQuery = true;
  - var animateNumber = true;
  //- - var mainJsSrc = 'js/main.min.js'
  - var updateBodyClass = bodyClasses.push('page-about');

  //- - var GoogleFonts = 'Poiret+One'
  //- - var GoogleFonts = GoogleFonts.concat('|Roboto:400,700&subset=cyrillic')
  //- ...

append stylesheets
  //- link( href='css/extrastyles.css', rel='stylesheet' )




//- ------------------------------------------------

append content
  .wrapper

    //- header
    include partials/header
    include partials/sub-header
    //- eof header




    //- main
    main(class="main")
      section(class="presentation")
        figure
          img(src="img/about-presentation.jpg", alt="", width="100%", height="100%")


      .wrap
        .inner
          article(class="article")
            .heading
              h1(class="title")
                | О компании Eltex
              h2(class="subtitle")
                | ООО «Предприятие «Элтекс» – один из ведущих российских разработчиков и&nbsp;производителей телекоммуникационного оборудования
            .content
              p
                | Образовавшись в 1992 г., предприятие «Элтекс» прошло путь становления от нескольких единомышленников, увлечённых общим делом, до динамично развивающейся компании.
              p
                | Основной деятельностью компании является разработка и производство телекоммуникационного оборудования для построения сетей связи. Основные направления разработки – оборудование GPON, Ethernet-коммутаторы, VoIP-шлюзы, MSAN, Softswitch &amp; IMS, медиацентры, тонкие клиенты и др.
              p
                | За всю историю своей деятельности компанией реализовано множество проектов в России и странах СНГ. Успех во многом определялся оперативным решением поставленных задач, эффективной адаптацией к потребностям покупателей, а также благодаря долгосрочным отношениям с нашими деловыми партнёрами.

              h3 Наш принцип
              p
                | Предлагая широкий спектр современных продуктов и решений в оптимальном соотношении цена/качество, мы всегда стремимся, прежде всего, удовлетворить, а во многом, – и предугадать, запросы потребителя.

              h3 Проекты
              p
                | За всю историю своей деятельности компанией реализовано большое количество объём- ных и сложных проектов для таких крупных телекоммуникационных компаний, как ОАО «Ростелеком», АО «Казахтелеком» и других операторов связи в странах СНГ, Прибалтике и Восточной Европе.  Сегодня услугами поставленного предприятием оборудования ежедневно пользуется более трех миллионов абонентов. Одним из крупнейших реализованных проектов стало оснащение оборудованием ООО «Ростелеком» на всех этапах развития и модернизации их сети.
              p
                | Предприятие «Элтекс» сотрудничает с ведущими системными интеграторами и поставщиками услуг по всей России и странах СНГ, в числе которых «Оптимальные коммуникации», «Элтекс-МСК», «Модуль», «Вимком», «ТРИАЛИНК ГРУП», «Канон», «Синнтерком», «Синтегра», Корпорация «Капитал-Технология», «ИВП Сервис», Фирма «Карат-Связь-96», «АТС Дизайн» и другие. Заказчиками продукции и услуг этих компаний являются практически все крупные телекоммуникационные компании страны, ведомственные операторы связи. Наши совместные знания и опыт позволяют создавать новаторские решения для малого, среднего и крупного бизнеса и государственных проектов.

              figure.about-map
                img(src="img/about-map.png", alt="", width="100%", height="100%")

              p В числе наших постояных заказчиков:

              ul
                li ♦  крупные операторы связи (ОАО «Ростелеком»,  АО «Казахтелеком»);
                li ♦  различные министерства и ведомства РФ и стран СНГ;
                li ♦  электроэнергетические и нефтегазовые компании;
                li ♦  провайдеры, предоставляющие услуги IP-телефонии.

              h3 Сотрудники
              p
                | На сегодняшний день на предприятии трудятся более 400 человек. Основу предприятия составляют сотрудники, имеющие большой опыт работы в области высоких технологий, кроме того, непосредственное сотрудничество с ВУЗами региона позволяет обеспечить постоянный приток молодых высококвалифицированных специалистов. Компания имеет интегрированную структуру, что проявляется в тесном взаимодействии высокотехнологичных процессов разработки, производства, сбыта и маркетинга.

              h3 Структура
              p
                | Объем выпускаемой продукции, и денежный оборот, ежегодно увеличиваются в сред- нем на 30-70%. С 2007 года предприятие ежегодно увеличивает объём производимого оборудования, в том числе в стоимостном выражении в среднем от 40 до 70 %.

              figure.about-company
                img(src="img/about-company.jpg", alt="")
                figcaption
                  | В 2012 году предприятие запустило в эксплуатацию, совместно с казахскими партнерами свое производство в ПИТ «Алатау» (Парке инновационных технологий «Алатау») в Казахстане.

              h3 Технологические возможности
              ul(class="techies")
                li
                  | ♦ вся продукция разрабатывается и производится только с самыми современными элементами поверхностного монтажа, что позволяет улучшить технологии и качества сборки и монтажа;
                li
                  | ♦ изделия разрабатываются с помощью современных систем автоматизированного проектирования (САПР), что позволяет перейти на безбумажную технологию и сквозное автоматизированное производство с контролем параметров на всех технологических этапах, кроме того, обеспечивается быстрота и гибкость перенастройки оборудования на изготовление различных изделий и модулей;
                li
                  | ♦ в процессе производства продукции используются новейшие компоненты высокой плотности интеграции от ведущих мировых фирм.Компания сотрудничает с мировыми лидерами по разработки чипов – Marvell Technology Group, Broadcom Corporation, Silicon Laboratories, PMC-Sierra International, Mindspeed Technologies, Inc., Infineon Technologies, Freescale и др.
                li
                  | ♦ предприятие является владельцем собственных высокопроизводительных линеек автоматизированного SMD-монтажа, производительность которых более 1 млн. портов в год;
                li
                  | ♦ на производстве организована многоступенчатая система контроля качества, сертифицированная по международному стандарту ISO9001;
                li
                  | ♦ разработка собственного программного обеспечения позволяет постоянно модернизировать производимый продукт под нужды покупателя.

              h3 Миссия и стратегия
              p
                | На сегодняшний день прослеживается тенденция слияния сетей, поддерживающих как классические технологии, так и технологии следующего поколения.
              p
                | Компания предоставляет комплексное высокотехнологичное решение, интегрированное  в современное телекоммуникационное оборудование совместно с ведущими мировыми чип-вендорами.

              section.key-areas
                h3 Ключевые направления
                ul
                  li
                    | ♦ модернизация и развитие оборудования для традиционных и конвергентных комплексных решений;
                  li
                    | ♦ разработка новых изделий и комплексных решений для сетей NGN;
                  li
                    | ♦ улучшение качества технической поддержки и сервиса в течение всего срока эксплуатации;
                  li
                    | ♦ укрепление своих позиций на рынке и поиск новых сегментов.

                p
                  | С июня 2012 года на производстве введена в промышленную эксплуатацию новая, третья по счету, высокоавтоматизированная линия поверхностного монтажа электронных модулей, которая в комплексе с двумя ранее существовавшими линиями позволяет автоматически устанавливать все типы компонентов с оптимальной скоростью и требуемой точностью. Функциональные параметры линии выбраны исходя из задач повышения технологической и экономической эффективности исполнения наиболее типовых заказов. Оптимальное распределение заказов по трем линиям позволяет производить весь спектр электронных изделий: от относительно простых модулей с несколькими десятками компонентами «на борту» и тиражом в десятки тысяч до самых высокотехнологичных изделий.



          //- eof main



    //- footer
    include partials/footer
    //- eof footer
