extends conf/docwrapper


append config
  - var PageTitle = 'Как нас найти'
  //- - var MetaDesc = 'Now we override default configed MetaDesc'
  - var jQuery = true;
  - var animateNumber = true;
  //- - var mainJsSrc = 'js/main.min.js'
  - var updateBodyClass = bodyClasses.push('page-contact-info')

  //- - var GoogleFonts = 'Poiret+One'
  //- - var GoogleFonts = GoogleFonts.concat('|Roboto:400,700&subset=cyrillic')
  //- ...

append stylesheets
  //- link( href='css/extrastyles.css', rel='stylesheet' )


  //- ------------------------------------------------

append content
  .wrapper

    //- header
    include partials/header
    include partials/sub-header
    //- eof header



    //- main

    .main
      .wrap
        .inner
          .page-title
            +breadcrumbs([
              { 'anchor':'Главная','link':'/index.html' },
              { 'anchor':'Как нас найти', 'class':'active' }
            ])(class='')      //- <== u can add additional class here.

            h1 Как нас найти

            //- cr8 breadcrumbs as mixin. would use it in every page

          .content
            h2 Главный офис
            address
              ul
                li
                  span Республика Казахстан, г.&nbsp;Алматы, ул.&nbsp;Тимирязева 17, офис 27
                li
                  span.tel Тел.: +7&nbsp;(727)&nbsp;266-288-6 ; +7&nbsp;(727)&nbsp;266-288-7
                li E-mail:&nbsp;
                  a(href="mailto:office@eltex.kz") office@eltex.kz
                  | , &nbsp;
                  a(href="mailto:market@eltex.kz") market@eltex.kz

            .globe
            .map-outer
              //- +svg([{'class': 'svg-map-over shadow', 'pathid': 'map-over', 'filename':'map-over'}])
              .shadow-rect
            .map-inner
              //- .map#map
              section(
                id="map-contacts"
                class="map"
              )
              script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqQD7v4UaLbWW9Y8R-7BbmmNvzySVkorw&callback=initMap")
              script.
                (function () {
                      var myLatLng = {lat: 43.2274646, lng: 76.926871};
                      var map = new google.maps.Map(document.getElementById('map-contacts'),  // map id
                       {
                        zoom: 15,
                        center: {lat: 43.2274646, lng: 76.926871},                    // <<< coordinates
                        scrollwheel: false,
                        mapTypeControl: false,
                        panControl: false,
                        disableDefaultUI: false,
                        mapTypeControlOptions: {
                           style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                           position: google.maps.ControlPosition.RIGHT_BOTTOM
                        },
                        zoomControl: true,
                        zoomControlOptions: {
                           position: google.maps.ControlPosition.LEFT_CENTER
                        },
                        scaleControl: true,
                        streetViewControl: false
                      });

                      var image = 'http://maps.google.com/mapfiles/ms/icons/red-dot.png';                                        // marker pic here
                      var beachMarker = new google.maps.Marker({
                            position:{ lat: 43.2274607, lng: 76.9290597},               // <<< coordinates
                            map: map,
                            icon: image
                            });
                })();


    //- eof main



    //- footer
    include partials/footer
    //- eof footer


//- bg for main block with min height
//- insert map img as .map block>img
  //- make map draggable
