extends conf/docwrapper


append config
  - var PageTitle = 'Коммутатор доступа MES1124M'
  //- - var MetaDesc = 'Now we override default configed MetaDesc'
  - var jQuery = true;
  //- - var animateNumber = true;
  - var bxSlider = true;
  - var elevatezoom = true;
  - var jQueryFancybox = false;
  //- - var mainJsSrc = 'js/main.min.js'
  - var updateBodyClass = bodyClasses.push('page-product-desc')

  //- - var GoogleFonts = 'Poiret+One'
  //- - var GoogleFonts = GoogleFonts.concat('|Roboto:400,700&subset=cyrillic')
  //- ...

append stylesheets
  //- link( href='css/extrastyles.css', rel='stylesheet' )


  //- ------------------------------------------------

append content
  .wrapper

    //- header
    include partials/header
    include partials/sub-header
    //- eof header



    //- main

    .main
      .wrap
        .inner
          .inner-magic--wrap
          .page-title
            +breadcrumbs([
              { 'anchor':'Главная','link':'/index.html' },
              { 'anchor':'Оборудование XPON','link':'javascript:void(0)' },
              { 'anchor':'Коммутатор доступа MES1124M', 'class':'active' }
            ])

            h1 Коммутатор доступа MES1124M
          .content
            .content-left
              .content-left-inner
                .product-info-top
                  .slider.column-left.column.block.slider-product-desc
                    //- The main images
                    ul#slider2.bxslider
                      li
                        img(id="zoom_01" data-zoom-image="img/product-02_huge.jpg" src="img/product-02.jpg" alt="")
                      li
                        img(id="zoom_02" data-zoom-image="img/product-12.jpg" src="img/related-product-04.png" alt="")
                      li
                        img(id="zoom_03" data-zoom-image="img/product-06.jpg" src="img/related-product-03.png" alt="")
                      li
                        img(id="zoom_04" data-zoom-image="img/product-08.jpg" src="img/related-product-05.png" alt="")


                    //- The thumbnails
                    ul#bx-pager2.bxslider-pager
                      li(data-slideIndex="0")
                        a.slider-pager-item(href="")
                            img(src="img/related-product-02.png")
                      li(data-slideIndex="1")
                        a.slider-pager-item(href="")
                            img(src="img/related-product-04.png")
                      li(data-slideIndex="2")
                        a.slider-pager-item(href="")
                            img(src="img/related-product-03.png")
                      li(data-slideIndex="3")
                        a.slider-pager-item(href="")
                            img(src="img/related-product-05.png")
                    .outside
                      .slider-prev
                        .arrow
                      .slider-next
                        .arrow
                  //- унифицировать стили так, чтоб на все модули{слайдера/etc} были одни и те же стили.
                  //- но если вдруг надо что-либо переписать, то уже надо просто дописать в файл стилей для конкретно этой страницы.
                  .desc-short
                    //- span/p
                    ul
                      span.desc-short-title Ключевые преимущества
                      li ♦  коммутаторы L2
                      li ♦  поддержка стекирования
                      li ♦  поддержка Multicast (IGMP, IGMP snooping, MVR)
                      li ♦  расширенные функции безопасности (L2-L4 ACL, IP Source address guard, Dynamic ARP Inspection и др.)
                      li ♦  эффективная защита от скачков напряжения
                    .btn.btn-desc.js-reqCallback заказать бесплатную консультацию

                .desc-full.js-tabs#menu_tabs
                  .desc-nav.nav.module-header
                    ul
                      li.desc-full-title.active(data-id="prod-desc") Описание товара
                      li.desc-full-title(data-id="prod-techies") Технические характеристики
                      li.desc-full-title(data-id="prod-manuals") Материалы для скачивания
                  .desc-item-list.tabs-outer
                    .tab-container.active.desc-item#prod-desc
                      P
                        | Коммутаторы доступа MES – управляемые коммутаторы уровня L2, которые имеют 24 порта 10/100Base-T и комбинированные порты 1000Base-T/Base-X. Коммутаторы осуществляют подключение конечных пользователей к сети крупных предприятий, предприятий малого и среднего бизнеса и к сетям операторов связи с помощью интерфейсов Fast и Gigabit Ethernet. Функциональные возможности коммутатора обеспечивают физическое стекирование, поддержку виртуальных локальных сетей, многоадресных групп рассылки и расширенные функции безопасности. Эффективная защита от скачков напряжения
                      P
                        | Все порты коммутаторов оснащены защитой от внешних воздействий в соответствии со стандартом IEC61000-4-5 при амплитуде импульсов до 6 kV.
                    .tab-container.desc-item#prod-techies
                      Tab Content 222
                    .tab-container.desc-item#prod-manuals
                      //- column - 2
                      .downloads-column-wrap
                        .downloads-column.downloads-column-left
                          h3 Описание
                          ul
                            li.pdf: a(href="#") Краткое техническое описание

                          h3 Документация
                          ul
                            li.pdf: a(href="#") Руководство по эксплуатации версии ПО 3.5.1
                            li.pdf: a(href="#") Руководство по настройке SMG-1016M через отдельный Ethernet порт
                            li.pdf: a(href="#") Руководство по настройке SMG-1016M с FreeRadius
                            li.pdf: a(href="#") Руководство по настройке SMG-1016M для использования в сети SIPNET.RU

                          h3 Сертификаты
                          ul
                            li.pdf: a(href="#") Декларация соответствия

                        //- column - 3
                        .downloads-column.downloads-column-right
                          h3 Програмное обеспечение
                          ul
                            li.code: a(href="#") Версия ПО 3.5.1
                            li.code: a(href="#") Версия ПО 3.5.0
                            li.code: a(href="#") Версия ПО 3.4.2
                            li.code: a(href="#") Версия ПО 3.4.0
                            li.code: a(href="#") Версия ПО 3.3.1
                            li.code: a(href="#") Версия ПО 3.2.1
                            li.code: a(href="#") Версия ПО 3.2.0
                            li.code: a(href="#") Версия ПО rc14
                            li.pdf: a(href="#") Readme
                            li.pdf: a(href="#") Словарь радиус
                            li.pdf: a(href="#") mib

                    //- a.desc-full-title.active Описание товара
                    //- a.desc-full-title Технические характеристики
                    //- a.desc-full-title Материалы для скачивания




            //- CR8 MIXIN
            .content-right.related-products
              .wrap
                span.related-title Рекомендованные товары
                .item-list
                  .item
                    .preview
                      img(src="img/related-product-01.png")
                    .item-title ELTEX.EMS
                  .item
                    .preview
                      img(src="img/related-product-02.png")
                    .item-title ONT NTP-2C
                  .item
                    .preview
                      img(src="img/related-product-03.png")
                    .item-title ONT NTP-RG-1402GC-W
                  .item
                    .preview
                      img(src="img/related-product-04.png")
                    .item-title ONT NTP-2
                  .item
                    .preview
                      img(src="img/related-product-05.png")
                    .item-title OLT LTP-8X rev.B




          //- MIXIN form // origin==documentation.pug
          //- MIXIN this
          .callback
            form.appointment-form
              .title Остались вопросы, свяжитесь с нами!
              p.sub-title Пожалуйста, заполните форму ниже. Мы свяжемся с вами в ближайшее время.

              .form-content-wrap
                form(action="#" method="post")
                  .form-content-left
                    .user-field.field
                      input.icon-user(type="text" name="login" placeholder="Имя" required)
                      +svg([{'class': 'icon-form-svg icon-user-svg', 'pathid': 'icon-user-svg', 'filename':'icon-user'}])
                      span Вы ввели неверный номер телефона

                    .email-field.field
                      input.icon-email(type="email" name="email" placeholder="E-mail" required)
                      +svg([{'class': 'icon-form-svg icon-email-svg', 'pathid': 'icon-email-svg', 'filename':'icon-email'}])
                      span Вы ввели неверный номер телефона

                    .phone-field.field
                      input.icon-tel(type="tel" name="phone" placeholder="Телефон")
                      +svg([{'class': 'icon-form-svg icon-phone-svg', 'pathid': 'icon-phone-svg', 'filename':'icon-phone'}])
                      span Вы ввели неверный номер телефона

                  .form-content-right
                    textarea.callback-textarea(placeholder="Ваш комментарий")
                    button.btn.btn-form(type="submit" title="Заказать бесплатную консультацию") Заказать бесплатную консультацию
          //- eof MIXIN this


    //- footer
    include partials/footer
    //- eof footer




    //- .tabs.module#menu_tabs
    //-   .nav.module-header
    //-     ul
    //-       li(class="active" data-id="breakfasts") Сніданки
    //-       li(data-id="lunches") Бізнес-ланчі
    //-       li(data-id="menu") Меню
    //-       li(class="active" data-id="offers") Акції
    //-       li(data-id="posters")
    //-   .tabs-outer
    //-     .tab-container.active#breakfast
    //-       Tab Content 111
    //-     .tab-container#lunches
    //-       Tab Content 222
    //-     .tab-container#menu
    //-       Tab Content 333
