extends conf/docwrapper


append config
  - var PageTitle = 'Реализованные проекты'
  //- - var MetaDesc = 'Now we override default configed MetaDesc'
  - var jQuery = true;
  - var animateNumber = true;
  //- - var mainJsSrc = 'js/main.min.js'
  - var updateBodyClass = bodyClasses.push('page-projects')

  //- - var GoogleFonts = 'Poiret+One'
  //- - var GoogleFonts = GoogleFonts.concat('|Roboto:400,700&subset=cyrillic')
  //- ...

append stylesheets
  //- link( href='css/extrastyles.css', rel='stylesheet' )


  //- ------------------------------------------------

append content
  .wrapper

    //- header
    include partials/header
    include partials/sub-header
    //- eof header



    //- main

    .main
      .wrap
        .inner

          .globe

          .content
            h1.title Реализованные проекты

            p При построении сети PON на основе оборудования Предприятия «Элтекс» операторы связи имеют возможность предоставлять услуги кабельного телевидения (аналогового или цифрового) по одному кабелю совместно с передачей данных на разных длинах волн.
            p Передача данных ведется на длинах волн 1490нм/1310нм к абоненту/от абонента соответственно, а сигнал кабельного телевидения передается на длине волны 1550нм. При этом на ONT (NTE‐2c, NTE‐RG‐1402GC и др.) сигнал CaTV выделяется с помощью триплексера и выводится на RF‐выход, к которому с помощью коаксиального кабеля подключается телевизор.

            ul.content-list
              span Преимущества такого решения:
              li ♦  экономия капитальных затрат на оптический кабель
              li ♦  удобство для абонента ‐ в квартиру/дом заводится один кабель
              li ♦  предоставление всех востребованных услуг по одному кабелю – Internet, CaTV, IPTV, IPтелефония.

            ul.content-list
              span Основные параметры по выбору оптического передатчика CaTV
              li ♦  Используемая длина волны 1550 нм
              li ♦  Высокий уровень выходного оптического сигнала
              li ♦  Низкий уровень нелинейных искажений (CSO и CTB)

              li ♦  Минимальный собственный шум RIN
              li ♦  Высокий уровень CNR
              li ♦  SBS подавление с очень высоким порогом SBS

              li ♦  Стабильный уровень оптической модуляции выходного оптического излучения в широком диапазоне амплитуд входного радиочастотного сигнала, обеспечиваемый системой автоматического регулирования усиления (АРУ)

            figure
              img(src="img/projects-scheme.jpg")

            p Для построения сети БШПД необходима сама точка доступа и абонентское устройство доступа. В населенном пункте на столбе устанавливается точка доступа WOP-12ac, к которой можно подключить до 3 секторных антенн с различными характеристиками. Радиус покрытия точки доступа до 1,5 км. Она подключается к сети передачи данных через Ethernet-коммутатор с поддержкой PoE+ с помощью экранированного патч-корда cat 5e. В арсенале компании «Элтекс» на данный момент имеются коммутаторы MES2208P или MES2124P с 8 и 24 гигабитными Ethernet-портами соответственно.

            p Специалисты «Элтекс» также готовы предоставить готовое комплексное решение, в которое входят: всепогодный шкаф, сама точка доступа, система электропитания со встроенной телеметрией, включающей в себя ИБП УЭП4-1, аккумуляторные батареи, нагреватель и датчик открытия двери и температурный датчик, и Ethernet-коммутатор с небольшой емкостью портов PoE+ – MES 2208P.

            p Абонентское оборудование встроено в корпус малогабаритной направленной антенны и устанавливается на крыше дома абонента или на мачте. WB-1P-LR обеспечивает подключение абонентов к сети БШПД по технологии Wi-Fi. К устройству через гигабитный Ethernet-порт можно подключить персональный компьютер или роутер, с помощью которого организовать домашнюю сеть.

            p Благодаря трем радио-модулям, каждый из которых предоставляет две пространственно-разнесенные антенны (2х2 MIMO), и поддержке стандарта IEEE 802.11ac точка доступа WOP-12ac-LR обеспечивает скорость передачи данных до 1,3 Гбит/c (канал 80 МГц) и большой радиус покрытия. К точке доступа могут одновременно подключаться до 90 пользователей (по 30 на каждый радио-модуль). Реализованная в WOP-12ac-LR технология QoS с интеллектуальным механизмом планирования и приоретизации трафика дает возмож



    //- footer
    include partials/footer
    //- eof footer
