extends conf/docwrapper


append config
  - var PageTitle = 'Страница поиска'
  //- - var MetaDesc = 'Now we override default configed MetaDesc'
  - var jQuery = true;
  - var animateNumber = true;
  - var bxSlider = true;
  //- - var mainJsSrc = 'js/main.min.js'
  - var updateBodyClass = bodyClasses.push('page_search-results')

  //- - var GoogleFonts = 'Poiret+One'
  //- - var GoogleFonts = GoogleFonts.concat('|Roboto:400,700&subset=cyrillic')
  //- ...

append stylesheets
  //- link( href='css/extrastyles.css', rel='stylesheet' )


  //- ------------------------------------------------

append content
  .wrapper

    //- header
    //- include partials/header
    //- include partials/sub-header
    //- eof header



    //- main

    .main
      section.h-slider
        .wrap
          ul.bxslider#h-slider
            li
              .hs-container
                .hs-foreground
                .hs-overlay
                .hs-content
                  .hs-content__img
                  .hs-content__content
                    p
                      | 01 Элтекс завершает разработку нового гигабитного коммутатора с&nbsp;10G&nbsp;аплинками
                  .hs-content__btn
                    a.btn.btn-slide Подробнее
            li
              .hs-container
                .hs-foreground
                .hs-overlay
                .hs-content
                  .hs-content__img
                  .hs-content__content
                    p
                      | 02 Элтекс завершает разработку нового гигабитного коммутатора с&nbsp;10G&nbsp;аплинками
                  .hs-content__btn
                    a.btn.btn-slide Подробнее
          .hs-controls
              .nextend-arrow.nextend-arrow-previous
                .arr-outer
                .arr-inner
              .nextend-arrow.nextend-arrow-next
                .arr-outer
                .arr-inner


    //- footer
    //- include partials/footer
    //- eof footer
