.modal-content
  .wrap
    .callback
      h2.title Заказать звонок!
      p Пожалуйста, заполните форму ниже. Мы с вяжемся с вами в ближайшее время.
      form.callback-form(action="#" method="post")
        input.icon-user(type="text" name="login" placeholder="Имя")
        input.icon-tel(type="tel" name="phone" placeholder="Телефон")
        button.btn.btn-form(type="button" title="Заказать бесплатную консультацию") Заказать бесплатную консультацию
      content
  button.modal-content-close(type="button" title="Закрыть")
.modal-overlay


// осталось thumbnails сделать для input-ов
