.dropdown-menu.sub-menu
  .block
    a.block-title(href=linkAbout) О компании
  .block
    a.block-title(href=linkContactInfo) Как нас найти
  .block
    a.block-title(href=linkProductGrid) Реализованныe продукты
