// - Построение сетей xPON.
//   - Описание сети xPON.–
//   - Модель построения сети PON. Предоставление услуги на порт
//   - Предоставление услуг CaTV через сеть Turbo GEPON
// - Построение телефонных сетей.
