
- var PageTitle = 'Jade Title, yeah!'

- var MetaDesc = 'High speed - low drag HTML development with Jade'

- var favicon = false

- var GoogleFonts = ''
//- нужны массивы шрифтов

- var jQuery = false

- var mainJs = true

- var mainJsSrc = 'js/main.js'

- var googleAnalytics = true

//- - var bodyClasses = ['bodyclass_one', 'bodyclass_two']
