
footer.footer.wow.fadeInUp(data-wow-offset="100")
  .wrap
    .inner
      +navmenu([
        { 'title':'Продукция', 'class':'', 'link':linkProductGrid },
        { 'title':'Решения', 'class':'', 'link':linkSolutions },
        { 'title':'Техподдержка', 'class':'', 'link':linkContactInfo },
        { 'title':'О компании', 'class':'', 'link':linkAbout }
      ])(class="footer-nav")
      .footer-bottom
        .copy &copy; 2016 Eltex
        a.manufacturer(href="javascript:void(0)") Сделано в&nbsp;
          +svg([{'class': 'icon-manufacturer', 'pathid': 'svg-manufacturer', 'filename':'manufacturer'}])
        .socials
          .inner
            a.item
              +svg([{'class': 'icon-fb svg-icon', 'pathid': 'svg-fb', 'filename':'fb'}])
            a.item
              +svg([{'class': 'icon-vk svg-icon', 'pathid': 'svg-vk', 'filename':'vk'}])
            a.item
              +svg([{'class': 'icon-yt svg-icon', 'pathid': 'svg-yt', 'filename':'yt'}])
    
//- modal content
include __popup
//- eof modal content
