
header.header
  .wrap
    .inner

      a.logo(href="/")
        picture
          //- source(media="(min-width: 1020px)" srcset="img/iphone-screen-3-3@1x.png 1x")
          source(media="(max-width: 767px)" srcset=logoImgSrcMobile)
          img(src=logoImgSrc)


      a.btn.request-callback Заказать звонок

      nav.menu.main-nav
        ul
          li#dd-products.dropdown
            a(href="/_pages/04_documentation-grid.html") Продукция
            include _sub-menu-1
          li.dropdown
            a(href="/_pages/07_solutions.html") Решения
            include _sub-menu-2
          li.dropdown
            a(href="/_pages/02_contact-info.html") Техподдержка
            include _sub-menu-3
          li
            a(href="/_pages/01_about.html") О компании
            include _sub-menu-4
        a.btn.request-callback.request-callback-nav Заказать звонок
      a.burger-menu
        .burger-link(href="#")
          .line
          .line
          .line


.menu-overlay


    //- include __dropdownMenu
