extends partials/docwrapper


append config
  - var PageTitle = 'New Life of Heroes'
  - var MetaDesc = 'Now we override default configed MetaDesc'
  - var jQuery = true;
  - var animateNumber = true;
  //- - var mainJsSrc = 'js/main.min.js'
  //- - var updateBodyClass = bodyClasses.push('extraclass', 'secondclass')

  //- - var GoogleFonts = 'Poiret+One'
  //- - var GoogleFonts = GoogleFonts.concat('|Roboto:400,700&subset=cyrillic')
  //- ...

append stylesheets
  //- link( href='css/extrastyles.css', rel='stylesheet' )
