.sub-header
  .wrap
    .inner
      address г. Алматы, ул. Тимирязева 17, офис 27
      .header-search
        .search-inner
          label.lbl-search(for="inpt-search")
            input#inpt-search(type="text")
      .phones
        span.consultation Поговорить с консультантом:&nbsp;
        span +7 (727) 266-288-6
