/* === common buttons === */

// button

.btn {
    display: inline-block;
    min-width: 200px;
    padding: 10px 0 8px 0;
    cursor: pointer;
    transition: all 200ms ease-out;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    letter-spacing: .7px;
    text-transform: uppercase;
    color: #00111a; // default value
    border: 2px solid #0084c4; // default value
    border-radius: 5px;
    outline: none;
    background: transparent;

    @include font(normal, 400, 15px, 18px, $pst);

    &.request-callback {
        // margin-top: 2px;
        color: #00111a;
        border: 2px solid #0084c4;
        &:hover {
            color: #fff;
            background: #0084c4;
        }
    }

    &-search {
        min-width: 110px;
        color: #023;
        border: 2px solid #0084c4;
        // &:hover {
        //   color: #fff;
        //   background: #0084c4;
        // }
    }

    &-slide,
    &-overlay {
        &:hover {
            color: #385461;
            background: #fff;
        }
    }

    &-slide {
        color: #fff;
        border: 2px solid #fff;
    }
    &-overlay {
        position: absolute;
        top: 70px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        color: #fff;
        border: 2px solid #fff;
    }
    // basic style for form button
    &-form {
        display: block;
        min-width: 400px;
        margin: 0 auto;
        color: #023;
        border: 2px solid #f39c12;
    }
    &-desc {
        min-width: 440px;
        margin: 0;

        @extend .btn-form;
    }
}

@media #{$mobile} {
    .modal-content {
        & .btn {
            white-space: normal;
            &-form {
                min-width: auto;
            }
        }
    }
}


// eof button
