/* === Nav module === */

.menu {
  // padding-left: 1.5384615%;
  @media #{desktop} {
    display: inline-block;
    vertical-align: middle;
  }

  @media #{$mobile} {
    &-overlay {
      background: hsla(200, 42%, 21%, 0.5);
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 11;

      &.active {
        display: block;
        opacity: 1;
      }
    }
  }

  & > ul {
    white-space: nowrap;
    & > li {
      display: inline-block;
      & > a {
        display: block;
        @include font(normal, 400, 15px, 21px, $pst);
        text-decoration: none;
        text-transform: uppercase;
        // margin-right: 43px;
        // transition: .2s linear;
          letter-spacing: 2px;
          white-space: nowrap;
          // padding: 39px 25px;
          padding-top: 38px;
          padding-bottom: 39px;
        cursor: pointer;
        &:hover {
          @include font(normal, 400, 15px, 21px, $pst);
          text-decoration: underline;
        }
      }
    }
  }
  // ^basic styles for all menus

  // main nav styles
  &.main-nav {
    // min-width: 770px;
    min-width: 680px;
    width: 52.3076923%;
    // width: 59.2307692%;
    // margin-right: 1.5384615%;
    // margin-right: 8.4615384%;
    // margin-right: auto;
    margin: 0 auto;
    display: block;

    @media #{$tablet} {
      margin: 0 auto;
      clear: both;
    }
    @media #{$mobile} {
      display: none;
      position: absolute;
      top: 78px;
      right: 0;
      z-index: 12;
      width: auto;
      min-width: 250px;
      background-color: #fbfbfb;
      text-align: right;
      height: 435px;
    }

    & > ul > li {
        @media #{$mobile} {
          display: block;
          padding: 0;
          padding-right: 20px;

          border-bottom: 1px solid #f1f2f3;

        &:first-child {
            border-top: 1px solid #94a1a8;
        }
      }
      &.active {
        & > a {
          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            height: 9px;
            -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
            opacity: 1;
            background: #0084c4;
          }
        }
      }

      & a {
        color: $main-nav-color;

        &:hover {
          text-decoration: none;
        }
      }

      & > a {

        letter-spacing: 2.6px;
          padding-left: 26px;
          padding-right: 26px;
        position: relative;

        @media #{$mobile} {
          padding: 0;
          color: #385461;
          @include font(normal, 700, 16px, 24px, $ub);
          text-transform: none;
          letter-spacing: normal;
          padding: 17px 0;
          &:hover {
            color: #0084c4;
          }
        }

        @media #{$tablet-desktop} {
          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            height: 9px;
            -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
            opacity: 0;
          }

          &:hover {
              &::before {
                opacity: 1;
                background: #0084c4;
              }
            }
            // ДОБАВИТЬ PADDING для ссылок, чтоб ховер норм отрабатывал (чуть шире текстов чтоб был).
            // по ширине блок менюхи должен быть на всю ширину сайта
          } // eof media

          @media #{$mobile} {
            &::before,
            &::after {
              content: "";
              position: absolute;
              width: 14px;
              height: 2px;
              background-color: #1f3c4b;
            }

            &::before {
              top: 34px;
              left: 10px;
              transform: rotate(45deg);
              border-radius: 3px 3px 3px 0;
            }
            &::after {
              top: 25px;
              left: 10px;
              transform: rotate(-45deg);
              border-radius: 3px 3px 3px 0;
            }
          }

        }
      }
    }

  // footer nav styles:
  &.footer-nav {
    outline-offset: -2px;
    margin-bottom: 35px;
    @media #{$mobile} {
      margin-bottom: 0;
    }
    & > ul {
      @media #{$mobile} {
        white-space: normal;
        @include clearfix;
      }
      & > li {
        padding: 0 25px;
        @media #{$mobile} {
          display: block;
          padding: 0;
          float: left;
          width: 50%;
          &:nth-child(2n) {
            margin-bottom: 40px;
          }
        }

        & a {
          color: $footer-nav-color;
          // padding: 0 21px;
          padding: 0;
          position: relative;

          @media #{$mobile} {
            display: inline-block;
          }

          &:hover {
            text-decoration: none;
            &::before {
              content: "";
              position: absolute;
              bottom: 0;
              right: 0;
              left: 0;
              height: 2px;
              background-color: #a3a9af;
            }
          }
        }
      }
    }
  }
}


// dropdown

.dropdown-menu {
    position: absolute;
    top: 98;
    background: #FFF;
    background-color: #fbfbfb;
    // background-color: crimson;
    // display: none;
    // transform: translateY(-2000px);
    border-top: 1px solid #94A1A8;
    width: 100%;
    // top: 0;
    left: 0;
    z-index: 120;
    padding-top: 47px;

    @media #{$mobile} {
      top: 169px;
    }
    // transition: .4s;


    // transform: translateY(0);
    // transition: 1500ms linear;

    // outline: 2px dashed crimson;
    // outline-offset: -2px;

    & > .wrap {

        & > .inner {
            padding-left: 2.2058823%;
            padding-right: 2.2058823%;
        }
    }

    & .outer {
        @include clearfix;
    }

    & .column {
        float: left;
        width: 310px;
        width: 23.8461538%;
        margin-right: 20px;
        margin-right: 1.5384615%;
        // outline: 2px dashed limegreen;
        // outline-offset: -2px;
        &:last-child {
            margin-right: 0;
        }
    }

    & .block {
        margin-bottom: 40px;

        &-2,
        &-7,
        &-8 {
            margin-bottom: 45px;
        }
        &-3 {
            margin-bottom: 50px;
        }

        &-title {
            display: block;
            color: #385461;
            @include font(normal, 700, 18px, 21px, $ub);
            letter-spacing: .5px;
            text-decoration: none;
            margin-bottom: 12px;
            &:hover {
                text-decoration: underline;
            }
        }
        &-item {
            margin-bottom: 12px;

            & a {
                color: #023;
                @include font(normal, 300, 14px, 21px, $ul);
                letter-spacing: .5px;
                text-transform: none;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

@keyframes bounceOut {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(-10px);
    }
    30% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(-2000px);
    }
}

@keyframes bounceIn {
    0% {
        transform: translateY(-2000px);
    }
    70% {
        transform: translateY(30px);
    }
    90% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}


/* hide sub menu links */
.sub-menu {
  display: none;
}


/* burger */
$burgerSize: 24px;
$burgerFill: #385461;
$burgerFillHover: #0084c4;

.burger {

    &-menu {
        display: block;
        position: relative;
        float: right;
        right: -20px;
            cursor: pointer;
            top: 0;
            height: 78px;

        @media #{$tablet-desktop} {
          display: none;
        }

      &:hover {
        & .line {
          background: $burgerFillHover;
        }
      }
    }

    &-link {
        cursor: pointer;
        display: inline-block;
        width: $burgerSize;
        height: $burgerSize;
        // margin: 10px;
        margin-left: 20px;
        margin-right: 20px;

        position: relative;
        top: 50%;
        transform: translateY(-50%);

        & .line:nth-child(1),
        & .line:nth-child(3) {
            position: absolute;
        }

        & .line {
            display: block;
            width: 100%;
            height: $burgerSize / 4.8;
            transition: all .4s;
            background: $burgerFill;
            backface-visibility: hidden;
            border-radius: 2px;

        }

        & .line:nth-child(2) {
            position: relative;
            margin: ($burgerSize / 3) 0 0;
        }

        & .line:nth-child(1) {
            top: 0;
        }

        & .line:nth-child(3) {
            top: $burgerSize - 8;
        }
    }
}

.burger-link.burger-active {
    & .line:nth-child(1) {
        top: 8px;
        transform: translate(-4px, 2px) rotate(-45deg);
        height: $burgerSize / 8;
        width: $burgerSize + 8;
    }

    & .line:nth-child(3) {
        top: 8px;
        transform: translate(-4px, 2px) rotate(45deg);
        height: $burgerSize / 8;
        width: $burgerSize + 8;
    }

    & .line:nth-child(2) {
        background-color: transparent;
        // transform: translate(-4px, 2px) rotate(-45deg);
        height: $burgerSize / 8;
        // width: $burgerSize + 8;
    }
}
/* /burger */
