/* === Header module === */

.header,
.sub-header {
    & > .wrap {
        max-width: 1360px;
        margin: 0 auto;

        & > .inner {
            font-size: 0; // display: inline-block;
            padding-right: 2.2058823%;
            padding-right: 30px;
            padding-left: 2.2058823%;
            padding-left: 30px;

            @include clearfix;
            // & > * {
            //     font-size: initial; // FIX display: inline-block;
            // }
            @media #{$mobile} {
                padding-right: 20px;
                padding-left: 20px;
            }
        }
    }
}

.header {
    position: relative;
    z-index: 15;
    background-color: #fbfbfb;
    // min-height: 98px;

    @media #{$mobile} {
        border-bottom: 1px solid #94a1a8;
        box-shadow: 0 2px 4px 0 rgba(0, 34, 51, .09);
    }

    & .wrap {
        z-index: 11;
        // position: relative;
        top: 0;
        right: 0;
        left: 0;
        // height: 98px;
        width: 100%;

        // outline: 2px dashed crimson;
        // outline-offset: -2px;
    }
    & .inner {
        // min-height: 98px;
        // padding-top: 28px;
        // padding-bottom: 27px;

        // outline: 2px solid blue;
        // outline-offset: -2px;
    }
}

.sub-header {
    position: relative;
    transition: .6s;
    // background-size: cover;
    color: #fff;
    // margin-top: 98px;
    background: #012840 url('../img/bg_sub-header.png') center center / cover no-repeat;
    @media #{$mobile} {
        display: none;
    }

    & .inner {
        min-height: 35px;
        // outline: 2px dashed orange;
        // outline-offset: -2px;
    }

    & address,
    & .header-search,
    & .phones {
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;

        @include font(normal, 400, 14px, 16px, $ul);
    }

    & address {
        width: 30.88235%;
        padding-left: 2px;
        letter-spacing: .4px;
        // min-width: ;

        @include font(normal, 400, 14px, 35px, $ul);
    }
    & .header-search {
        width: 38.23529%;
    }
    & .phones {
        width: 30.88235%;
        text-align: right;
        letter-spacing: .4px;
        // min-width: ;

        @include font(normal, 400, 14px, 35px, $ul);
        & .consultation {
            @media #{$mobile-tablet} {
                display: none;
            }
        }
    }
}



.svg-logo {
    width: 184px;
    height: 38px;

    fill: #00abdf;
    @media #{$mobile} {
        width: 129px;
        height: 27px;
    }
}

.logo {
    // outline: 2px solid forestgreen;
    // outline-offset: -2px;
    float: left;
    width: 184px;
    height: 38px;
    // width: 14.15385%;
    // margin-right: 9.6923076%;
    margin-top: 31px;
    transition: .6s;
    @media #{$mobile} {
        width: 129px;
        height: 27px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    & img {
        width: 184px;
        height: 38px;
        @media #{$mobile} {
            width: 129px;
            height: 27px;
        }
    }
}

// .menu {
// outline: 2px dashed tan;
// outline-offset: -2px;
// text-align: center;
// }

.request-callback {
    float: right;
    width: 15.38462%;
    margin-top: 31px;
    transition: .6s;
    @media #{$mobile} {
        display: none;
    }
    &-nav {
        @media #{$mobile} {
            right: 23px;
            // position: absolute;
            bottom: 30px;
            display: block;
            float: none;
            margin: 135px auto 0;

            // position: absolute;
            // top: 430px;
            // z-index: 13;
            // right: 23px;
        }
        @media #{$tablet-desktop} {
            display: none;
        }
    }
    // outline: 2px dashed crimson;
    // outline-offset: -2px;
}
