.slider {
    // outline: 2px dashed crimson;
    // outline-offset: -2px;
    position: relative;
    height: 430px;
    @media #{$tablet} {
        height: 350px;
    }
    @media #{$mobile} {
        height: 275px;
    }
}

.slider-product-desc,
.slider-documentation {
    // margin: 0 auto !important;
    // padding-bottom: 20px;
    // padding-bottom: 130px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 4px 11px 0 rgba(0, 34, 51, .16);

    & > .bx-wrapper:nth-child(1) {
        & .bx-viewport {
            left: 0;
            height: 292px !important;
            border: none;
            box-shadow: none;
            @media #{$tablet} {
                height: 210px !important;
            }
            @media #{$mobile} {
                height: 165px !important;
            }

            &::before {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 1px;
                content: '';
                background: url('../img/slider-line.png') no-repeat;
                background-position: center center;
            }

            & li {
                display: block;
                height: 292px;
                @media #{$tablet} {
                    height: 210px;
                }
                @media #{$mobile} {
                    height: 165px;
                }
            }

            & img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                @media #{$tablet} {
                  max-height: 200px;
                }
                @media #{$mobile} {
                  max-height: 160px;
                }
            }
        }
    }
    & > .bx-wrapper:nth-child(2) {
        width: 324px;
        padding-top: 20px;
        @media #{$tablet} {
            width: 206px;
        }
        @media #{$mobile} {
            width: 160px;
        }
    }


    & .bxslider-pager {
      font-size: 0;
        & li {
            width: 88px;
            height: 88px;
            margin-right: 30px;
            margin-right: 9.2592592%;
            display: inline-block;
            vertical-align: top;
            &:last-child {
                margin-right: 0;
            }
            @media #{$mobile} {
                width: 72px !important;
                height: 72px;
                margin-right: 9px !important;
            }
        }

        & .slider-pager-item {
            position: relative;
            display: inline-block;
            overflow: hidden;
            min-width: 88px;
            max-width: 88px;
            min-height: 88px;
            max-height: 88px;
            margin: 0 5px;
            padding: 3px;
            vertical-align: top;
            transition: .3s ease-out;
            border: 1px solid #acb7c3;
            border: 1px solid rgb(172, 183, 195);
            border: 1px solid hsl(211, 16%, 72%);
            @media #{$mobile} {
                min-width: 72px;
                max-width: 72px;
                min-height: 72px;
                max-height: 72px;
            }
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
            &:hover,
            &.active {
                border: 1px solid #acb7c3;
                border: 1px solid rgba(172, 183, 195, .4);
                border: 1px solid hsla(211, 16%, 72%, .4);
            }
        }
    }
}

// custom controls

.slider {
    & .slider-prev,
    & .slider-next {
        position: absolute;
        top: 312px;
        width: 30px;
        width: 7%;
        height: 90px;

        // outline: 2px dashed skyblue;
        // outline-offset: -2px;

        @media #{$tablet} {
            top: 230px;
            width: 15%;
            height: 88px;
        }

        @media #{$mobile} {
            top: 185px;
            width: 20%;
            height: 72px;
        }
    }

    // control blocks wrapper
    & .slider-prev {
        left: 0;

        & .arrow {
            top: 50%;
            left: 65%;
            transform: translate(0, -50%) rotate(-135deg);
            @media #{$mobile} {
                left: 50%;
            }
        }
    }
    & .slider-next {
        right: 0;

        & .arrow {
            top: 50%;
            right: 65%;
            transform: translate(0, -50%) rotate(45deg);
            @media #{$mobile} {
                left: 50%;
            }
        }
    }

    // control blocks
    .bx-prev,
    .bx-next {
        position: relative;
        z-index: 1;
        display: block;
        width: 100%;
        height: 100%;
    }

    // control arrows
    .arrow {
        position: absolute;
        width: 14px;
        height: 14px;
        border-top: 2px solid #023;
        border-right: 2px solid #023;
    }


    // EOF custom controls
}
