// page-title

// breadcrumbs

.breadcrumbs {
    margin-bottom: 94px; // 90
    padding-top: 18px;

    @media #{$mobile} {
        white-space: nowrap;
    }

    & ul {
        font-size: 0;
    }
    & li {
        font-size: initial;
        position: relative;
        display: inline-block;
        padding-left: 22px;
        vertical-align: top;
        &:first-child {
            padding-left: 0;
            &::before {
                display: none;
            }
        }
        &:not(:last-child) {
            & a:hover {
                color: #0084c4;
            }
        }

        &::before {
            position: absolute;
            top: 5px;
            left: 0;
            width: 8px;
            height: 8px;
            content: '';
            transform: rotate(45deg);
            border-top: 1px solid #023;
            border-right: 1px solid #023;
        }
    }
    & a {
        text-decoration: none;
        letter-spacing: .5px;
        color: #023;

        @include font(normal, 300, 18px, 18px, $ul);

        @media #{$mobile} {
            @include font(normal, 300, 16px, 18px, $ul);
        }
    }
}

// eof breadcrumbs

.page-title {
    & > h1 {
        margin: 0;
        margin-bottom: 40px;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #385461;

        @include font(normal, 700, 36px, 36px, $ub);

        @media #{$mobile} {
            @include font(normal, 700, 24px, 36px, $ub);
        }
    }
}

//  где есть search forms, всегда уменьшаем pb
.page-documentation-grid {
    & .page-title {
        & > h1 {
            margin-bottom: 25px;
        }
    }
}

.overcrumbs {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.overtabbed {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

// eof page-title
