/* counter */

.counter {
    margin: 0 auto;
    // padding-bottom: 388px;
    margin-bottom: 46px;
    padding-top: 7px;

    @include clearfix;
    // outline: 2px dashed crimson;

    @media #{$mobile} {
        margin-bottom: 0;
    }

    & .inner {
        padding-right: 2.205882352%;
        padding-left: 2.205882352%;

        @include clearfix;

        @media #{$tablet} {
            font-size: 0;
            text-align: center;
            & > * {
                font-size: initial;
            }
        }
        @media #{$mobile} {
            padding-right: 6.25%;
            padding-left: 6.25%;
        }
    }

    h1 {
        margin: 0;
        margin-bottom: 74px;
        transition: .6s;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #385461;

        @include font(normal, 700, 36px, 36px, $ub);
        @media #{$mobile} {
            letter-spacing: .8px;

            @include font(normal, 700, 24px, 36px, $ub);
        }
    }

    & .item {
        float: left;
        width: 310px;
        width: 23.8461538%;
        min-height: 220px;
        margin-right: 20px;
        margin-right: 1.5384615%;
        transition: .6s;
        // outline: 2px dashed crimson;
        // outline-offset: -2px;
        text-align: center;
        @media #{$tablet} {
            display: inline-block;
            float: none;
            width: 47.6923076%;
            width: 47.2527472%;
            margin-right: 20px;

            &:nth-of-type(2n) {
                // clear: right;
                margin-right: 0;
                margin-bottom: 45px;
            }
        }
        @media #{$mobile} {
            float: none;
            clear: left;
            width: 280px;
            margin: 0 auto;
            margin-bottom: 45px;
            &:last-child {
                margin-bottom: 0;
            }
        }

        & i {
            display: block;
            margin-bottom: 15px;
        }

        & .svg-counter-icn {
            width: 100%;

            fill: #0084c4;
        }

        & h2 {
            font-family: $ub;
            font-size: 72px;
            line-height: 72px;
            position: relative;
            margin: 0;
            margin-bottom: 28px;
            letter-spacing: 2px;
            color: #385461;

            &:after {
                position: absolute;
                top: 82px;
                left: 50%;
                width: 90px;
                height: 1px;
                content: '';
                transform: translateX(-50%);
                background-color: #0084c4;
            }
        }

        & .text {
            margin: 0;
            letter-spacing: .5px;
            text-transform: uppercase;
            color: #023;

            @include font(normal, 400, 15px, 17px, $pst);
        }

        &:nth-child(2) {
            // #1
            & .svg-counter-icn-1 {
                width: 40px;
                height: 48px;
            }
            & .text {
                padding: 0 10px;
                @media #{$mobile} {
                    padding: 0;
                }
            }
        }

        &:nth-child(3) {
            // #2
            & .svg-counter-icn-2 {
                width: 48px;
                height: 48px;
            }
            & h2 {
                font-size: 60px;
                &::after {
                    top: 87px;
                }
            }
            & .text {
                padding: 5px 45px;
                padding: 5px 35px;
            }
        }

        &:nth-child(4) {
            // #3
            & .svg-counter-icn-3 {
                width: 25px;
                height: 48px;
            }
            & h2 {
                &::after {
                    top: 87px;
                }
            }
            & .text {
                padding: 5px 70px;
                @media #{$mobile} {
                    padding: 5px 60px;
                }
            }
        }

        &:nth-child(5) {
            // #4
            @media #{$tablet-desktop} {
                margin-right: 0;
            }

            & .svg-counter-icn-4 {
                width: 48px;
                height: 48px;
            }
            & .text {
                padding: 0 45px;
                @media #{$mobile} {
                    padding: 0 30px;
                }
            }
        }
    }
}

/* counter */


// parallax

& .bottom-line {
    float: left;
    clear: both;
    width: 100%;
    height: 396px;
    // outline: 2px dashed tan;
    // outline-offset: -2px;
    transition: .6s;
    background-image: url('../img/separator.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    @media #{$mobile-tablet} {
        background-size: 100%;
    }

    @media #{$tablet} {
        height: 310px;
    }

    @media #{$mobile} {
        height: 180px;
    }
}

.parallax {
    position: relative;
    top: -50px; /* example style: not mandatory */
    overflow: hidden;
    width: 100%;
    height: 400px; /* put your height */

    @media #{$mobile} {
        height: 230px;
    }
}

// EOF parallax
