// basic-content search form

$cbMainColor: #023;

.search-form {
    font-size: 0;

    & .field-wrap {
        margin: 0 auto;
    }

    & p {
        text-align: center;
    }

    & > * {
        font-size: initial;
    }

    & input {
        // init styles ^^^
        line-height: 16px;
        position: relative;
        width: 100%;
        padding: 8px 34px 8px 19px;
        vertical-align: top;
        text-transform: none;
        color: $cbMainColor;
        border: 1px solid #acb7c3;
        border-radius: 4px;
        outline: 0;

        @include font(normal, 300, 15px, 23px, $ul);


        &::placeholder {
            color: $cbMainColor;
        }
        &::-webkit-input-placeholder {
            color: $cbMainColor;
        }
        &::-moz-placeholder {
            color: $cbMainColor;
        }/* Firefox 19+ */
        &:-moz-placeholder {
            color: $cbMainColor;
        }/* Firefox 18- */
        &:-ms-input-placeholder {
            color: $cbMainColor;
        }
        // early 2014 http://html5.by/blog/placeholder/

        &.search-field {
            width: 80.3030303%;
            min-width: 530px;
            margin-right: 20px;
            margin-right: 3.0303030%;
            @media #{$mobile} {
                width: 100%;
                min-width: auto;
            }
        }
    }
}
// search form

// EOF search form
