// callback form module

.page-product-desc,
.page-documentation,
.page-faq {
    & .form-content-wrap {
        padding: 0 8.4615384%;

        @include clearfix;
        @media #{$tablet} {
            padding: 0;
        }
    }
    & .form-content-left,
    & .form-content-right {
        width: 530px;
        width: 49.0740740%;
        // outline: 2px dashed crimson;
        // outline-offset: -2px;
    }
    & .form-content-left {
        float: left;
        margin-right: 20px;
        margin-right: 1.8518518%;
        @media #{$mobile} {
            width: 100%;
            margin-right: 0;
            margin-bottom: 30px;
        }
    }
    & .form-content-right {
        font-size: 0;
        float: right;
        @media #{$mobile} {
            width: 100%;
        }

        // font-size fix ofr inline-block

        & > * {
            font-size: initial;
        }
    }


    // callback
    .callback {
        float: left;
        padding-top: 50px;
        @media #{$mobile} {
            width: 100%;
        }

        & .title {
            margin-bottom: 20px;
            @media #{$mobile} {
                @include font(normal, 700, 24px, 36px, $ubo);
            }
        }
        & p {
            margin-bottom: 50px;
        }

        & .field {
            width: 100%;
            margin-bottom: 30px;

            & > span {
                position: absolute;
                top: -20px;
                left: 0;
                display: none;
                margin: 0;
                padding: 0;
                padding-left: 20px;
                transition: .3s linear;
                text-align: left;
                white-space: nowrap;
                color: #f05a2e;

                @include font(normal, 300, 14px, 16px, $ul);
            }

            &.error {
                & > input {
                    border-color: #f05a2e;
                }
                & > span {
                    display: none;
                    opacity: 0;
                }
            }
        }

        .btn-form {
            width: 100%;
            min-width: auto;
            letter-spacing: normal;
        }
    }
}

.page-product-desc {
    .callback {
        float: none;

        @media #{$mobile} {
            padding-top: 25px;
        }
    }
}

// EOF callback form module
