.products-nav-menu {
    & a {
        position: relative;
        text-decoration: none;
    }
    & .category {
        margin-bottom: 45px;
        &-link {
            cursor: pointer;
            letter-spacing: .5px;
            color: #385461;

            @include font(normal, 700, 18px, 21px, $ub);
        }
    }
    & .item {
        margin-bottom: 15px;

        &:first-child {
            padding-top: 15px;
        }
    }

    & .item-link {
        cursor: pointer;
        letter-spacing: .4px;
        color: #023;

        @include font(normal, 300, 14px, 21px, $ul);
        &:hover {
            &::before {
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                height: 1px;
                content: '';
                background: #a1a7ab;
            }
        }
    }
}

.products-nav-content {
    & li.item.item-active {
        position: relative;
        &::after {
            position: absolute;
            right: 5px;
            bottom: 3px;
            width: 10px;
            height: 10px;
            content: '';
            transition: 200ms linear;
            transform: rotate(45deg) translateY(-50%);
            border-top: 1px solid #022435;
            border-right: 1px solid #022435;
        }
        & .item-link {
            &::before {
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                height: 1px;
                content: '';
                background: #a1a7ab;
            }
            &:hover::before {
                content: none;
            }
        }
    }

    & .category-link {
        position: relative;
        &:hover::before {
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 2px;
            content: '';
            background-color: #385461;
        }
    }

    & li.category.item-active {
        position: relative;
        &::after {
            position: absolute;
            top: 8px;
            right: 6px;
            width: 10px;
            height: 10px;
            content: '';
            transition: 200ms linear;
            transform: rotate(45deg) translateY(-50%);
            border-top: 1px solid #022435;
            border-right: 1px solid #022435;
        }
        & .category-link {
            position: relative;
            &::before {
                position: absolute;
                bottom: -1px;
                left: 0;
                width: 100%;
                height: 2px;
                content: '';
                background-color: #385461;
            }
            &:hover::before {
                content: none;
            }
        }
    }
}


.products-nav-menu {
    float: left;
    width: 23.8461538%;
    // standard: documentation-grid
    max-width: 310px; // %
    margin-right: 20px; // %
    margin-right: 1.53846153%;
    // outline: 2px dashed skyblue;
    // outline-offset: -2px;
    @media #{$mobile-tablet} {
        max-width: none;
    }

    & span.column-title {
        position: relative;
        display: block;
        margin-bottom: 20px;
        letter-spacing: .4px;
        text-transform: uppercase;
        color: #023;

        @include font(normal, 400, 15px, 21px, $pst);
        @media #{$mobile-tablet} {
            margin-bottom: 0;
        }

        &::before {
            position: absolute;
            right: 0;
            bottom: -9px;
            left: 0;
            width: 100%;
            height: 1px;
            content: '';
            background: #647983;
            @media #{$mobile-tablet} {
                display: none;
            }
        }
    }

    & .general-list {
        & > li {
            padding-bottom: 25px;
            &.active {
                position: relative;
                text-decoration: underline; // bold underline::before???
                text-transform: uppercase;
                &::before {
                    position: absolute;
                    top: 5px;
                    right: 3px;
                    width: 7px;
                    height: 7px;
                    content: '';
                    transform: rotate(45deg);
                    border-top: 2px solid #022435;
                    border-right: 2px solid #022435;
                }
                & > a {
                    position: relative;
                    display: inline-block;
                    vertical-align: top;

                    &::after {
                        position: absolute;
                        bottom: 3px;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        content: '';
                        -webkit-transition: all .7s ease;
                        background-color: #385461;
                    }
                    &:hover {
                        &::after {
                            display: none;
                        }
                    }
                }
            }
            &.single {
                padding-bottom: 38px;
            }
        }
    }



    & .sub-list {
        padding-top: 11px;
        & > li {
            margin-bottom: 13px;
        }
    }



    & .link {
        &-category {
            display: block;
            // margin-bottom: 12px;
            text-decoration: none;
            letter-spacing: .5px;
            color: #385461;

            @include font(normal, 700, 18px, 26px, $ub);
        }
        &-item {
            // margin-bottom: 11px;
            display: block;
            text-decoration: none;
            letter-spacing: .4px;
            color: #023;

            @include font(normal, 300, 14px, 21px, $ul);

            &.active {
                position: relative;
                &::before {
                    position: absolute;
                    top: 4px;
                    right: 5px;
                    width: 8px;
                    height: 8px;
                    content: '';
                    -webkit-transform: rotate(45deg);
                            transform: rotate(45deg);
                    border-top: 1px solid #023;
                    border-right: 1px solid #023;
                }
            }
        }
        &-category,
        &-item {
            margin-right: 10px;
        }
    }
} // EOF




.page-documentation-grid {
    & .products-nav-menu {
        & span.column-title {
            margin-bottom: 25px;
            @media #{$mobile-tablet} {
                margin-bottom: 0;
            }
        }
        & .active a::after {
            bottom: 3px;
        }
        & .active::before {
            top: 9px;
        }
        & .category {
            padding-bottom: 25px;
        }
    }
}


@media #{$tablet} {
    .page-solutions {
        & .products-nav-menu {
            // padding-top: 15px;
            position: relative;
            &::after {
                position: absolute;
                top: 0;
                width: 100%;
                height: 1px;
                content: '';
                background-color: #647983;
                @media #{$tablet} {
                    background: none;
                }
            }
            & span.column-title {
                cursor: pointer;
                &::before {
                    bottom: -16px;
                }
                &::after {
                    position: absolute;
                    top: 5px;
                    right: 0;
                    width: 11px;
                    height: 11px;
                    content: '';
                    -webkit-transition: 200ms linear;
                            transition: 200ms linear;
                    -webkit-transform: rotate(45deg);
                            transform: rotate(45deg);
                    border-top: 1px solid #022435;
                    border-right: 1px solid #022435;
                }
                &.active {
                    &::after {
                        transform: rotate(135deg);
                    }
                }
            }
        }
    }
}
