.page-contact-info {
    & .main {
        & > .wrap {
            & .inner {
                padding-right: 2.2058823%;
                padding-left: 2.2058823%;

                @include clearfix;
                @media #{$tablet} {
                    padding-right: 30px;
                    padding-left: 30px;
                }
                @media #{$mobile} {
                    padding-right: 20px;
                    padding-bottom: 140px;
                    padding-left: 20px;
                    background: url('../img/map-outer.png') no-repeat;
                    background-position: left bottom;
                    background-size: 100%;
                }
            }
        }
    }

    & .content {
        position: relative;
        & > h2 {
            margin: 0;
            margin-bottom: 20px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #385461;

            @include font(normal, 700, 18px, 18px, $ub);
        }
        & li {
            position: relative;
            margin-bottom: 25px;
            padding-left: 35px;
            letter-spacing: .5px;
            color: #023;

            @include font(normal, 300, 14px, 21px, $ul);

            @media #{$mobile} {
                letter-spacing: normal;

                &:nth-child(2) {
                    padding-right: 80px;
                }
                &:nth-child(3) {
                    padding-right: 30px;
                }
            }
            & a {
                color: #0084c4;
                &:hover {
                    text-decoration: none;
                }
            }
            &::before {
                position: absolute;
                top: 0;
                // border-radius: 50%;
                left: 0;
                content: '';
            }
        }
        & li:first-child {
            &::before {
                top: -2px;
                left: 5px;
                width: 16px;
                height: 24px;
                background: url('../img/icon-contact-pointer.svg') no-repeat;
            }
        }
        & li:nth-child(2) {
            margin-bottom: 18px;
            &::before {
                top: -4px;
                left: 5px;
                width: 16px;
                height: 25px;
                background: url('../img/icon-contact-phone.svg') no-repeat;
            }
        }
        & li:nth-child(3) {
            &::before {
                top: 3px;
                left: 0;
                width: 25px;
                height: 19px;
                background: url('../img/icon-contact-email.svg') no-repeat;
            }
        }
    }

    & .globe {
        float: left;
        width: 100%;
        min-height: 530px;
        margin-top: 23px;
        margin-left: -29px;
        background: url('../img/map-outer.png') no-repeat;
        background-position: left bottom;
        @media #{$tablet} {
            width: 100vw;
            background-position: center bottom;
        }
        @media #{$mobile} {
            display: none;
        }
    }

    & .map {
        position: absolute;
        z-index: 5;
        top: 50%;
        left: 50%;
        overflow: hidden;
        width: 710px;
        height: 428px;
        min-height: 428px;
        transform: translate(-50%, -50%);
        border-radius: 8px 8px 8px 8px;
        background: #ccc;
        //                                 // display: none;
        //
        // @media #{$mobile} {
        //   position: relative;
        //   left: 0;
        //   top: 0;
        //   width: 280px;
        //   height: 170px;
        //
        //   left: initial;
        //   top: initial;
        //   transform: none;
        // }
        box-shadow: 0 4px 7px 0 rgba(0, 34, 51, .16);
        @media #{$tablet} {
            width: 495px;
            height: 300px;
            min-height: 300px;
            border-radius: 8px;
        }
        @media #{$mobile} {
            width: 280px;
            height: 170px;
            min-height: 170px;
            border-radius: 8px;
        }

        &-outer,
        &-inner {
            position: absolute;
            top: 0;
            right: 0;
            width: 710px;
            height: 428px;
            // background: #fff;

            // outline: 2px dashed deepskyblue;
            // outline-offset: -2px;
            @media #{$tablet} {
                width: 495px;
                height: 300px;
            }
            @media #{$mobile} {
                width: 280px;
                height: 170px;
            }
        }


        // &-overlay {
        //   background-color: transparent;
        //   position: absolute;
        //   width: 710px;
        //   height: 428px;
        //   left: 50%;
        //   top: 50%;
        //   transform: translate(-50%, -50%);
        // }
    }
    & .map-outer {
        // border: 1px solid black;
        overflow: hidden;
        width: 750px;
        height: 860px;
        margin: 0 auto;

        @media #{$mobile-tablet} {
            display: none;
        }
        // background: url('../img/map-over.svg') no-repeat;
        // width: 762px;
        // height: 468px;
        // & .shadow {
        //   -webkit-filter: drop-shadow( 0px 4px 7px 0px rgba(0, 34, 51, 0.16) );
        //   filter: drop-shadow( 0px 4px 7px 0px rgba(0, 34, 51, 0.16) );
        // }
    }

    & .map-inner {
        @media #{$mobile-tablet} {
            position: relative;
            top: initial;
            left: initial;
            margin: 0 auto;
        }
    }


    & .shadow-rect {
        position: absolute;
        top: 56px;
        right: 68px;
        width: 733px;
        border-radius: 8px 0 0 0;
        height: 467px;
        margin-top: -25px;
        transform: skew(-7deg) rotate(-3deg) translate(10%, -10%);
        background-color: #fff;
        // box-shadow: 0 5px 12px 5px rgba(34, 49, 33, 0.58);
        box-shadow: 0 4px 7px 0 rgba(0, 34, 51, .16);
    }
}
