.page-solutions {

  & .wrap {


    & > .inner {
      padding-left: 2.2058823%;
      padding-right: 2.2058823%;
      @media #{$tablet} {
        padding-left: 30px;
        padding-right: 30px;
      }
      @media #{$mobile} {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
// ^^^^^^ GRID.

  // fix inner wraps!!!


  & .sub-header {
    & .phones {
      text-align: left;
      @media #{$tablet} {
        float: right;
        text-align: right;
        & span:first-child{
          display: none;
        }
      }
    }
    & address {
      text-align: right;
      @media #{$tablet} {
        float: left;
      }
    }
  }

  @media #{$tablet} {
    & .lbl-search:hover {
      width: 170px;
    }
  }


  // module page-title
  & .page-title {

    & .breadcrumbs {
      margin-bottom: 92px;
    }
    & h1 {
      text-transform: none;
      @media #{$tablet} {
        text-transform: uppercase;
      }
      @media #{$mobile} {
        text-transform: uppercase;
      }
    }
  }
  // EOF module page-title


  & .content {
    @include clearfix;
    padding-top: 27px;
    // word-wrap: break-word;

    & h3 {
      margin: 0;
      @include font(normal, 700, 18px, 18px, $ub);
      color: #385461;

      margin-bottom: 27px;
      letter-spacing: 0.5px;
    }

    & p {
      margin: 0;
      @include font(normal, 400, 18px, 22px, $pslab);
      color: #385461;

      padding-right: 35px;
      margin-bottom: 22px;
      letter-spacing: 0.4px;

      @media #{$mobile} {
        @include font(normal, 400, 14px, 22px, $pslab);
      }
    }

    & figure {
      margin-bottom: 17px;
      padding-top: 3px;
      & img {
        width: 100%;
      }
    }
  }

  & .column-left {
    float: left;
    width: 310px;
    width: 23.8461538%;
    margin-right: 20px;
    margin-right: 1.5384615%;
    @media #{$mobile-tablet} {
      width: 100%;
    }
  }

  & .column-center {
    float: left;
    width: 640px;
    width: 49.2307692%;
    margin-right: 20px;
    margin-right: 1.5384615%;
    padding-bottom: 70px;
    @media #{$mobile-tablet} {
      width: 100%;
      padding-top: 45px;
    }
  }

  & .column-right {
    float: right;
    width: 310px;
    width: 23.8461538%;
    @media #{$mobile-tablet} {
      display: none;
    }
  }

  & .related-products {
    padding-top: 25px;
  }

  & .footer {
    & .socials {
      & .item {
        width: 24px;
        height: 24px;
      }
    }
    & .uct span {
      font-size: 28px;
      padding-left: 4px;
      letter-spacing: .4px;
    }
  }
}



@media #{$tablet} {
  .page-solutions {
    & .products-nav-content {
      display: none;
    }
  }
}
