.page-product-grid {
    & .inner {
        padding-right: 2.2058823%;
        padding-left: 2.2058823%;
        @media #{$tablet} {
            padding-right: 30px;
            padding-left: 30px;
        }
        @media #{$mobile} {
            padding-right: 20px;
            padding-left: 20px;
        }
    }

    & .content {
        padding-top: 50px; // !! OR breadcrumbs mb60

        @include clearfix;
        @media #{$tablet} {
            padding-top: 65px;
        }
    }

    // content-LEFT



    & .content-right {
        float: right;
        width: 970px;
        width: 74.6153846%;
        // outline: 2px dashed crimson;
        // outline-offset: -2px;

        @media #{$mobile-tablet} {
            float: none;
            width: 100%;
        }

        & span.column-title {
            position: relative;
            display: block;
            margin-bottom: 20px;
            letter-spacing: .4px;
            text-transform: uppercase;
            color: #385461;

            @include font(normal, 700, 18px, 21px, $ub);
            @media #{$tablet} {
                display: block;
                padding: 15px 0;
            }
            @media #{$mobile} {
                margin-bottom: 55px;
            }

            &::before {
                position: absolute;
                right: 0;
                bottom: -9px;
                left: 0;
                width: 100%;
                height: 1px;
                content: '';
                background: #647983;
            }
        }
    }

    .products-list {
        position: relative;
        margin-bottom: 50px;

        @include clearfix;

        & .item {
            position: relative;
            z-index: 1;
            display: block;
            float: left;
            overflow: hidden;
            width: 310px;
            width: 31.9587628%;
            min-height: 364px;
            margin-right: 20px;
            margin-right: 2.06185567%;
            margin-bottom: 50px;
            border-radius: 4px;
            background-color: #fff;
            box-shadow: 0 4px 7px 0 rgba(0, 34, 51, .16);

            @media #{$tablet} {
                width: 48.587570%;
                margin-right: 2.824858%;
            }

            @media #{$desktop} {
                &:nth-child(3n) {
                    margin-right: 0;
                }
            }

            @media #{$tablet} {
                &:nth-child(2n) {
                    margin-right: 0;
                }
            }

            @media #{$mobile} {
                width: 100%;
                min-height: 355px;
                margin-right: 0;
                margin-bottom: 48px;
            }

            &:last-child {
                margin-right: 0;
            }


            // outline: 2px dashed lightseagreen;
            // outline-offset: -2px;

            & img {
                position: absolute;
                width: 95%;
                top: 50%;
                left: 50%;
                display: block;
                transform: translateY(-50%) translateX(-50%);
            }

            & .image-overlay {
                position: absolute;
                z-index: 0;
                top: 0;
                left: 0;
                width: 100%;
                height: 392px;
                opacity: 0;
                background-color: hsla(200, 100%, 38%, .34);
            }
        }

        & .img-outer {
            position: relative;
            height: 240px;
        }
    }

    .make3d {
        position: absolute;
        top: 0;
        left: 0;
        width: 310px;
        width: 100%;
        height: 364px;
        padding-top: 20px;
        cursor: pointer;
        transition: 100ms ease-out;

        transform-style: preserve-3d;

        @media #{$tablet-desktop} {
            &.animate {
                // top: 5px;
                // left: 5px;
                width: 310px;
                width: 100%;
                height: 480px;
                transition: 100ms ease-out;
                box-shadow: 0 5px 31px -1px rgba(0, 0, 0, .15);

                & .stats {
                    top: 182px;
                    transition: all 200ms ease-out;
                }

                & .btn-overlay {
                    opacity: 1;
                }

                & .image-overlay {
                    transition: all 200ms ease-out;
                    opacity: 1;
                }
            }
        }
    }






    // pagination



    // common styles for both buttons:
    .paginate {
        position: relative;
        position: absolute;
        top: 50%;
        width: $size;
        height: $size;
        margin: 10px;
        margin-top: -18px;
        cursor: pointer;
        transform: translate3d(0,0,0); // fixes flicker in webkit
        border: 0;
        outline: 0;
        background: transparent;

        -webkit-appearance: none;
        -webkit-filter: drop-shadow( 0 2px 0px rgba(0,0,0,.2) );
    }

    .pagination {
        // width: 50%;
        // height: 40px;
        // position: relative;
        // margin: 0 auto;
        // margin-bottom: 100px;
        // outline: 2px dashed crimson;
        // outline-offset: -1px;
    }

    // eof pagination
}

.page-product-grid {
    & .products-nav-menu {
        & .category {
            padding-bottom: 0;
        }
    }
}
@media #{$tablet} {
    .page-product-grid {
        & input.search-field {
            width: 74.293785%;
            min-width: auto;
            margin-right: 20px;
            margin-right: 2.6041666%;
        }
    }

    .page-product-grid {
        & .search-form {
            & .btn-search {
                width: 22.881355%;
                min-width: auto;
            }
        }
        & .search-content .field-wrap {
            width: 100%;
        }
    }

    .page-product-grid {
        & .column-left.products-nav-menu {
            float: none;
            width: 100%;
            max-width: none;
            margin-right: 0;
            margin-bottom: 100px;
            // padding-top: 15px;
            border-top: 1px solid #647983;
            border-bottom: 1px solid #647983;

            @include clearfix;

            & span.column-title {
                display: block;
                padding: 15px 0;
                cursor: pointer;
                &::after {
                    position: absolute;
                    top: 13px;
                    right: 8px;
                    left: initial;
                    width: 10px;
                    height: 10px;
                    content: '';
                    transition: 200ms linear;
                    transform: rotate(135deg) translateY(-50%);
                    border-top: 1px solid #022435;
                    border-right: 1px solid #022435;
                    background: none;
                }
                &.active {
                    &::after {
                        top: 21px;
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }

    .page-product-grid {
        & .products-nav-content {
            display: none;
            float: left;
            width: 48.5875706%;
            margin-top: 10px;
            // width: 100%;
            margin-right: 2.824858px;
            // height: 700px;

            // outline: 2px dashed crimson;
            & li {
                // display: block;
                // width: 300px;
                // float: left;
            }
        }
        & .products-nav-content-right {
            float: right;
            margin-right: 0;
        }
    }
}

@media #{$mobile} {
    .page-product-grid {
        & .search-form {
            & .btn-search {
                width: 100%;
                min-width: auto;
            }
        }
    }

    .page-product-grid {
        & input.search-field {
            margin-bottom: 20px;
        }
    }

    .page-product-grid {
        & .column-left.products-nav-menu {
            float: none;
            width: 100%;
            max-width: none;
            margin-right: 0;
            margin-bottom: 100px;
            // padding-top: 15px;
            border-top: 1px solid #647983;
            border-bottom: 1px solid #647983;

            @include clearfix;

            & span.column-title {
                display: block;
                padding: 15px 0;
                cursor: pointer;
                &::after {
                    position: absolute;
                    top: 13px;
                    right: 8px;
                    left: initial;
                    width: 10px;
                    height: 10px;
                    content: '';
                    transition: 200ms linear;
                    transform: rotate(135deg) translateY(-50%);
                    border-top: 1px solid #022435;
                    border-right: 1px solid #022435;
                    background: none;
                }
                &.active {
                    &::after {
                        top: 21px;
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }


    .page-product-grid {
        & .products-nav-content {
            display: none;
            float: none;
            width: 100%;
            margin-top: 10px;
            // width: 100%;
            margin-right: 0;
            // height: 700px;

            // outline: 2px dashed crimson;
        }
    }

    .page-product-grid {
        & .make3d {
            & .stats {
                top: 283px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    .page-product-grid {
    }
    .page-product-grid {
    }
}
