
.page-catalog {
    & .inner {
        padding-right: 2.2058823%;
        padding-left: 2.2058823%;
        @media #{$tablet} {
            padding-right: 30px;
            padding-left: 30px;
        }
        @media #{$mobile} {
            padding-right: 20px;
            padding-left: 20px;
        }
    }

    & .content {
        padding-top: 50px; // !! OR breadcrumbs mb60

        @include clearfix;
        @media #{$tablet} {
            padding-top: 65px;
        }
    }
}



.page-catalog {
  .page-title > h1 {
    font: normal 26px/30px 'PT Sans Narrow';
    font-weight: 700;
    margin-top: 2px;
    margin-bottom: 26px;
    text-transform: uppercase;
  }
}

.page-catalog {
  .content {
    padding-bottom: 60px;
    margin: 0 auto;
    padding: 0 20px;

    max-width: 1340px;

    @media #{$tablet} {
      min-width: 768px;
      max-width: 768px;
    }

    @media #{$mobile} {
      min-width: 320px;
      max-width: 320px;
    }
  }
}

.page-catalog {
  .catalog-heading {
    width: 260px;
    float: left;
    margin-bottom: 60px;

    @media #{$tablet} {
      width: 222px;
      margin-right: 20px;
    }

    @media #{$mobile} {
      width: 280px;
    }

    & > .catalog-heading-link {
      display: block;
      color: #003d64;
      background: none;
      position: relative;
      font: normal 13px/23px 'PT Sans';
      text-transform: uppercase;
      text-decoration: underline;
    }
  }
}


.page-catalog {
  .catalog-list {

    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }
}

.page-catalog {
  .catalog-item-link {

    margin-left: 16px;
    font: normal 14px/21px 'PT Sans';
    color: #4a4a4a;
    text-decoration: underline;

    &:hover {
      color: #003d64;
      text-decoration: none;
    }
  }
}

.page-catalog {
  .selector {

  }
}

.page-catalog {
  .selector {

  }
}

.page-catalog {
  .selector {

  }
}

.page-catalog {
  .selector {

  }
}

.page-catalog {
  .selector {

  }
}
