/* === Footer module === */

// footer

.footer {
    background: #013C59 url('../img/bg_footer.png') center center no-repeat;
    background-size: cover;
    padding-top: 45px;
    padding-bottom: 53px;
    text-align: center;

    @media #{$mobile} {
      padding: 0;
      padding-top: 40px;
      padding-bottom: 45px;
    }


    & .wrap {
      min-width: auto;
      max-width: none;
    }

    & .inner {
      padding-left: 2.205882352%;
      padding-right: 2.205882352%;
      @include clearfix;

      @media #{$tablet} {
        padding-left: 2.6041666%;
        padding-right: 2.6041666%;
      }
      @media #{$mobile} {
        padding-left: 6.25%;
        padding-right: 6.25%;
      }
    }
}

.footer-bottom {
    font-size: 0;
    @media #{$tablet-desktop} {

      width: 475px;
      margin: 0 auto;
    }

    @media #{$tablet} {
      width: 435px;
    }

    & > * {
        display: inline-block;
        font-size: initial;
        @media #{$mobile} {
          display: block;
          float: left;
          margin: 0 auto;
        }
    }

    & .copy {
        font-size: 24px;
        font-family: $ub;
        color: #FFF;
        margin-right: 40px;
        margin-right: 8.4210526%;
        @media #{$mobile} {
          margin-right: 0;
          text-align: center;
          float: none;
          padding-bottom: 20px;
        }
    }

    & .manufacturer {
        @include font(normal, 400, 15px, 15px, $ul);
        color: #FFF;
        text-decoration: none;

        @media #{$tablet-desktop} {
          float: right;
        }

        // & span {
        //     @include font(normal, 700, 24px, 24px, $ub);
        //     text-transform: uppercase;
        // }
        & .icon-manufacturer {
          width: 55px;
          height: 21px;
          fill: #fff;
        }
    }
}

.socials {
    // margin-right: 40px;
    // margin-right: 8.4210526%;
    min-width: 98px;
    width: 27.5789473%;
    @media #{$mobile} {
      margin-right: 0;
      float: right;
      width: auto;
      min-width: 88px;
    }

    & > .inner {
      padding: 0;
      float: left;
      font-size: 0;
    }

    & .item {
        display: inline-block;
        border: 1px solid #FFF;
        width: 22px;
        height: 22px;
        margin-right: 10px;
        position: relative;
        cursor: pointer;
        transition: .3s ease;

        & svg {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            fill: #FFF;
        }

        &:nth-child(1) {
            & .icon-fb {
                width: 7px;
                height: 16px;
            }

            &:hover {
                background-color: #3B5998;
            }
        }
        &:nth-child(2) {
            & .icon-vk {
                width: 16px;
                height: 9px;
            }

            &:hover {
                background-color: #597DA3;
            }
        }
        &:nth-child(3) {
            margin-right: 0;
            & .icon-yt {
                width: 16px;
                height: 11px;
            }
            &:hover {
                background-color: #E52D27;
            }
        }
    }

    & .item:nth-child(1),
    & .item:nth-child(2),
    & .item:nth-child(3) {
        &:active {
            background-color: transparent;
        }
    }
}


// eof footer
