/* === Footer module === */

// footer

.footer {
    padding-top: 45px;
    padding-bottom: 53px;
    text-align: center;
    background: #013c59 url('../img/bg_footer.png') center center no-repeat;
    background-size: cover;

    @media #{$mobile} {
        padding: 0;
        padding-top: 40px;
        padding-bottom: 45px;
    }


    & .wrap {
        min-width: auto;
        max-width: none;
    }

    & .inner {
        padding-right: 2.205882352%;
        padding-left: 2.205882352%;

        @include clearfix;

        @media #{$tablet} {
            padding-right: 2.6041666%;
            padding-left: 2.6041666%;
        }
        @media #{$mobile} {
            padding-right: 6.25%;
            padding-left: 6.25%;
        }
    }
}

.footer-bottom {
    font-size: 0;
    @media #{$tablet-desktop} {
        width: 475px;
        margin: 0 auto;
    }

    @media #{$tablet} {
        width: 435px;
    }

    & > * {
        font-size: initial;
        display: inline-block;
        @media #{$mobile} {
            display: block;
            float: left;
            margin: 0 auto;
        }
    }

    & .copy {
        font-family: $ub;
        font-size: 24px;
        margin-right: 40px;
        margin-right: 8.4210526%;
        color: #fff;
        @media #{$mobile} {
            float: none;
            margin-right: 0;
            padding-bottom: 20px;
            text-align: center;
        }
    }

    & .manufacturer {
        text-decoration: none;
        color: #fff;

        @include font(normal, 400, 15px, 15px, $ul);

        @media #{$tablet-desktop} {
            float: right;
        }

        // & span {
        //     @include font(normal, 700, 24px, 24px, $ub);
        //     text-transform: uppercase;
        // }
        & .icon-manufacturer {
            width: 55px;
            height: 21px;

            fill: #fff;
        }
    }
}

.socials {
    width: 27.5789473%;
    // margin-right: 40px;
    // margin-right: 8.4210526%;
    min-width: 98px;
    @media #{$mobile} {
        float: right;
        width: auto;
        min-width: 88px;
        margin-right: 0;
    }

    & > .inner {
        font-size: 0;
        float: left;
        padding: 0;
    }

    & .item {
        position: relative;
        display: inline-block;
        width: 22px;
        height: 22px;
        margin-right: 10px;
        cursor: pointer;
        transition: .3s ease;
        border: 1px solid #fff;

        & svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);

            fill: #fff;
        }

        &:nth-child(1) {
            & .icon-fb {
                width: 7px;
                height: 16px;
            }

            &:hover {
                background-color: #3b5998;
            }
        }
        &:nth-child(2) {
            & .icon-vk {
                width: 16px;
                height: 9px;
            }

            &:hover {
                background-color: #597da3;
            }
        }
        &:nth-child(3) {
            margin-right: 0;
            & .icon-yt {
                width: 16px;
                height: 11px;
            }
            &:hover {
                background-color: #e52d27;
            }
        }
    }

    & .item:nth-child(1),
    & .item:nth-child(2),
    & .item:nth-child(3) {
        &:active {
            background-color: transparent;
        }
    }
}


// eof footer
